doctype html
html(lang="fr")
  head
    
    title=(headline)

    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="referrer" content="always")
    meta(name="keyword" content="#{ metakeyword }")
    meta(name="description" content="#{ metadescription }")
    meta(name="theme-color", content="#75C050")
    
    //- Social Media Meta

    meta(property="og:type" content="website")
    meta(property="og:site_name" content="#{ headline }")
    meta(property="og:url" content="https://www.chantalmasse.com/")
    meta(property="og:title" content="#{ headline }")
    meta(property="og:description" content="#{ description }")
    meta(property="og:image" content="#{ image }")
    
    link(rel="stylesheet" href="/assets/css/main.css")
    link(rel="manifest", href="/manifest.json")
    
  body
    != yield
    include ../public/includes/_script